<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>PDF Template 1</title>
</head>
<body>
  <p class="heading column right">Invoice</p>
  <section class="column left">
    <small class="uppercase">From</small>
    <div class="senderOrganization">senderOrganization</div>
    <div class="senderFullname">senderFullname</div>
    <div class="senderEmail">senderEmail</div>
  </section>
  <section class="column right">
    <small class="uppercase">To</small>
    <div class="receiverOrganization">receiverOrganization</div>
    <div class="receiverFullname">receiverFullname</div>
    <div class="receiverEmail">receiverEmail</div>
  </section>
  <section class="column left">
    <p><strong>Invoice No.: </strong>invoiceNumber</p>
    <p><strong>Invoice Date: </strong>invoiceDate</p>
  </section>
  <section class="column right">
    <p><strong>Due: </strong>invoiceDueDate</p>
  </section>
</body>
</html>